@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body {
  background-color: #343a40;
  color: white;
  font-family: 'Varela Round', sans-serif;
}

pre {
  color: white;
}

.card {
  margin-bottom: 2em;
}

/* .filmList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
} */

/* @media (max-width: 400px) {
  .card-img {
    max-height: 40vh;
    width: auto;
  }
} */
