@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body {
  background-color: #343a40;
  color: white;
  font-family: 'Varela Round', sans-serif;
}

pre {
  color: white;
}

.card {
  margin-bottom: 2em;
  font-size: 1.2em;
  line-height: 120%;
}

.card-title {
  font-weight: bold;
}

.film-list-country {
  margin: 1em 0;
}

.film-card-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.film-card-buttons button {
  margin-right: 5px;
}

.film-card-buttons button a {
  color: #fff;
}

.rating-of-film {
  font-size: large;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.container nav ul.pagination {
  justify-content: center;
}

.filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 5px;
  box-shadow: #fff 0 0 10px 1px;
}

.film-select {
  padding: 5px;
  font-size: larger;
}

/* .filmList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
} */

/* @media (max-width: 400px) {
  .card-img {
    max-height: 40vh;
    width: auto;
  }
} */

h2 {
  font-family: 'Montserrat', sans-serif !important;
}

ul.navbar.navbar-dark.bg-dark.menu.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
